#### ignore all dotfiles and dot-dirs, with exceptions
.*
!.config/
!.distignore
!.dockerignore
!.editorconfig
!.gitattributes
!.gitignore

#### ignore these patterns
.env.*
*.secret
*.secret.*

#### ignore these specific directories
gp-data/
vendor/
wordpress/

#### ignore these specific files
docker-compose.override.yml

