.env.production
gp-data/

# Installed via Composer
content/mu-plugins/php-basic-auth/
content/plugins/
!content/plugins/airplane-mode
!content/plugins/f-api
!content/plugins/f-gd-cron
!content/plugins/f-translate
vendor/
wordpress/
