#### ignore all dotfiles and dot-dirs, with exceptions
.*
!.config/
!.distignore
!.dockerignore
!.editorconfig
!.env.example
!.gitattributes
!.gitignore

#### ignore these patterns
*.bak
*.log
*.tmp
*.local
*.local.*
*.secret
*.secret.*

#### ignore these specific directories
/gp-data/
/vendor/

#### ignore these specific files

auth.json
docker-compose.override.yml

# one of the composer.*.json files (composer.start-here.json by default) are copied over to composer.json
composer.json

# dependencies in composer.json in start-here-site are volatile, so the lockfile is meaningless
composer.lock
