*
!.gitignore

# vendored content kept in version control
!object-cache.php

!mu-plugins/

!plugins/airplane-mode/
!plugins/f-api
!plugins/f-gd-cron
!plugins/f-translate
!plugins/redirect-chat.php
!plugins/redirect-home.php

!themes/twentytwentyfive/
